
/* .brand-name {
  font-family: Optima;
  font-weight: bold;
} */
.top-nav-wrap {
  background-color: #f5efef;
}

.navbar-brand {
  font-family: Optima;
  font-size: large;
  font-weight: bold;
}

/* .container btn{
  background-color: #5E8999;
  color: white;
} */

/* .btn{
  background-color: #5E8999;
} */